<html>
  <head>
    <title>Factcheck 2012</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>

     <div class="hero-unit">
       <h1>FactcheckLIVE</h1>


     <h3>Realtime Presidential Debate Factchecking - 2012</h3>
     </div>
  </body>
</html>